* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding-bottom: 5%;
    background-repeat: no-repeat;
}


.nav{
    background:white;
    width: 100%;
    padding-top:1%;
    padding-bottom: 1%;
    font-size: 20px;
    color: #9c00fd;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: center;
}


.home-nav{
    overflow: hidden;
    border-bottom: solid white;
    padding-top: 20px;
    color: white;
    display: flex;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: white;
}
.home-nav-menu{
    width:30%;
    float: right;
    margin-right: 15%;
}
.user-title{
    width: 20%;
    margin-left:15%;
    padding: 1%;
    color:#9c00fd;
    float: left;
    margin-top: -10px;
    border: solid #9c00fd;
    border-radius: 10px;;
    font-size:25px;
}

.user-title:hover, title:hover {
    background-color: #9c00fd;
    color: white;
}

.home-nav ul{
    padding: 0;
    list-style: none;
    display: flex;
}

.home-nav a{
    text-decoration: none;
    color: inherit;
}

.home-nav-menu li{
    border-radius: 10px;
    width:30%;
    margin:0 10%;
    padding: 10px 20px;
    cursor:pointer;
    transition: all 0.15s ease-in;
    color: #9c00fd;
    font-size: 25px;
}

.home-nav-menu>ul>li:hover{
    background-color:#9c00fd;
    color:white;
}
.logout{
    margin-left:100px;
    color:white;
    background-color: rgb(65, 206, 245) ;
    border-radius: 20px;
    padding: 0px 20px;
}

.nav ul, ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
}


.nav a {
    color: inherit;
    text-decoration: none;
    display: inline;
    padding: 1rem;
    font-size: 25px;
}

.nav li{
    border-radius: 10px;
    padding: 5px 5px;
    cursor:pointer;
    transition: all 0.15s ease-in;
    color: #9c00fd;
    font-size: 25px;
}


.nav li:hover{
    background-color: rgb(138, 73, 202);
    color: white;    
}

.home-page, .projects-home-page{
    background-image: linear-gradient(40deg, rgb(65, 206, 245), #9c00fd);
    position: absolute;
    top:0;
    width:100%;
    display: block;
    padding-bottom: 5%;
}

.projects-page-content {
    padding-top: 7%;
    width: 80%;
    margin-left: 10%;
}

.home-page-content{
    width: 80%;
    margin-left: 10%;
}

.home-page-menu{
    width: 100%;
    display: block;
    margin-top: 60px;
    text-align: left;
}



.home-page-menu>button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color:#9c00fd;
    cursor: pointer;
    left:0;
    display: inline-block;
    margin-left: 3%;
    width: 10%;
}
.home-page-menu>button:hover{
    opacity: 70%;
}
.all_projects{
    margin-top: 100px;
    width:100%;
    display: block;
}
.projects-list{
    display: block;
    width:100%;
}
.project_container{
    border:solid 4px;
    border-color: rgb(232, 232, 232);
    background-color:  rgb(232, 232, 232);
    width:28%;
    align-items: left;
    margin: 2.5% 2.5%;
    border-radius: 10px;
    float: left;
}

.project_container:hover {
    background-color: white;
    cursor: pointer;
}

.title{
    display: inline-block;
    border-bottom: solid 4px;
    border-color: rgb(138, 73, 202);
    width:95%;
    margin:2.5%;
    text-align: center;
    color: rgb(138, 73, 202);
    text-decoration: none;
}


.info{
    display:inline-block;
    width:100%;
    margin:10px 0;
}

.info>h3, .info>p{
    display: inline;
}

.project-description>h3, .project-description>p {
    display: inline;
}

.info>h3{
    color: rgb(138, 73, 202);

}


.info_container{
    width: 100%;
    text-align: left;
    margin-left: 10%;
}

.progress-bar {
    display: inline-block;
    width:90%;
}

.top-of-page {
    width:20%;
    display: block;
}





.user-profile {
    display: inline-block;
    text-align: center;
    
}



.user-info {
    color: white;
    font-size: 20;
}

.calander-container {
    margin-left: 10%;
}

.people-container{
    background-color: white;
    border-radius: 30px;
    padding: 2%;
    margin: 2%;
    width: 30%;
    display: inline-block;
}

.all-containers {
    display: block;
    width: 80%;
    margin: 10%;
}

.skill {
    display: inline-block;
    padding: 3%;
    text-indent: none;
    border: solid 1px rgb(188, 188, 255);
    border-radius: 30px;
    background-color: rgb(188, 188, 255);
    margin: 0.5%;
}

.all-skills {
    list-style: none;
    padding-left:0;
}

.project-info-container {
    display: inline-block;
    width: 40%;
    background-color:  rgb(247, 247, 247);
    padding: 3%;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.project-name {
    color: rgb(138, 73, 202);
    margin-top:-2%;
    padding: 2%;
    text-align: left;
    text-decoration: underline;
}

.project-description{
    padding: 2.5%;
    margin-top: -4%;
    text-align: left;
}



.des-title {
    color: rgb(138, 73, 202); 
}

.des {
    color: rgb(0, 0, 0);
}


.proj-button, .create-project-btn, .member-button {
    border-radius: 8px;
    background-image: linear-gradient(to right, rgb(65, 206, 245) 50%, rgb(65, 206, 245) 50%, #9c00fd);
    background-size: 200%;
    background-position: 100%;
    transition: 0.4s;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: none;
  }

.proj-button {
    display: block;
    padding: 3%;
    margin-top: 4%;
    margin-left: 30%;
    width: 40%;
}




.create-project-btn {
    display: block;
    padding:2%;
    width:30%;
}

.member-button{
    display: inline;
    padding:3%;
    width: 25%;
    margin: 2%;
}

.proj-button:hover, 
.create-project-btn:hover,
.member-button:hover{
  background-position: 0%;
}

.risk-info-container{
    display: inline-block;
    width: 20%;
}

.project-risk-score {
    display: block;
    width:100%;
    background-color:  rgb(232, 160, 160);
    border-radius: 30px;
    padding: 0.5%;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25%;
}




.modal, .new-role-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    border: none;
    z-index: 1; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height:100%;
    /* Full height */
    overflow: auto;/* Enable scroll if needed */
    backdrop-filter: blur(5px);
}


/* Modal Content/Box */
.modal-content {
    background-color:  rgb(247, 247, 247);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    width: 80%;
    margin-left:10%; /* 15% from the top and centered */
    padding: 3%;
    border-radius: 20px;
    color: black;
    
  }


  .role-modal-content {
    background-color:  rgb(138, 73, 202);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    width: 80%;
    margin-left:10%; /* 15% from the top and centered */
    padding: 3%;
    border-radius: 20px;
    color: black;

  }


  .modal-content>h1{
    font-size:30;
    color:rgb(138, 73, 202);
    text-align: center;
    padding:2%;
  }

  .inputLabels{
    display: flex;
    margin-left: 10%;
    transform: translate(0%, 150%);
    color:rgb(138, 73, 202);
    font-size: 20px;
  }

  .role-input-labels{
    display: flex;
    margin-left: 10%;
    transform: translate(0%, 150%);
    color:rgb(255, 255, 255);
    font-size: 20px;
  }
  
  .projectInputs{
    /* display: flex; */
    margin-left: 30%;
  }

  .close {
    color: black;
    float: right;
    font-size: 38px;
    font-weight: bold;
    margin-top: -1%;
    margin-right: 0%;
    cursor: pointer;
    color:rgb(138, 73, 202);
  }

.add-proj-drop {
    color: black;
    font-size: 30px;

}




.role-close {
    color: black;
    float: right;
    font-size: 38px;
    font-weight: bold;
    margin-top: -1%;
    margin-right: 0%;
    cursor: pointer;
    color:rgb(255, 255, 255);
  }


 