.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(40deg, rgb(65, 206, 245), #9c00fd);
}



.auth-form-container, .login-form, .register-form{
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  position: relative;
  display: block;
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 2;
  border-radius: 8px;
}

.auth-form-container h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}


label {
  text-align: left;
  padding: 0.25rem 0;
  color: #666;
  font-size: 15px;
}


.auth-form-container:focus-within label{
  color: #222223;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 2px;
  box-shadow:  0px 0px 3px rgba(0, 0, 0, 0.2);
}

.login-button, .register-button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, rgb(65, 206, 245) 50%, rgb(65, 206, 245) 50%, #9c00fd);
  background-size: 200%;
  background-position: 100%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  
}

.login-button:hover,
.register-button:hover {
  background-position: 0%;
}

.link-btn {
  background: none;
  color: grey;
  text-decoration: underline;
  border: none;
  margin: 2rem 0;
}

.link-btn:hover {
  color: rgb(58, 58, 58);
  cursor: pointer;
  
}





