table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #808080;
    border-radius:8px;
  }

  
  
tbody {
  border: 1px solid #808080;
  border-radius:8px;
    padding: 8px;
  }

td{
    padding: 10px;
}
  
tr
{
    background-color: #cc91f0;
    
}

.table-title{
  background-color: white;
  padding:1%;
  color: black;
  text-align:center;
}

  
tr:hover {
    background-color: #342e42;
    color: white;
}

  

  .addTask_container {
    display: inline-block;
    padding: 30px;
    text-indent: none;
    border: solid 1px rgb(173, 173, 243);
    border-radius: 20px;
    background-color: rgb(245, 241, 247);
    margin: 30px;
    text-align: left;
    overflow-y: scroll;
    max-height: 90%;
    
  }

 .edit-task-icon:hover{
  cursor: pointer;
  color:white; 

 }